%h1.fancy
  Bio
%p
  I've been playing guitar, singing, and writing songs for over 14 years. 
  I first started playing live in college as the guitar player for the funk 
  band Smokestax my sophomore year. After Smokestax dissolved in 2001, 
  I was a founding member of two bands, Drunken Rusty and Tripp, both based 
  out of Lexington, Virginia. In the spring of 2003, Tripp recorded their first 
  album with ex-Pavement drummer Steve West in a big, old house in the middle
  of the Shenandoah Valley. The finished album, called '"A Taste," was very
  well received by the local music community and I continued to write songs
  and rehearse with Tripp co-founder Alex Wilkins.
%p
  After I finished college, Alex and I moved Tripp to North Carolina where we
  immediately became a force on the local music scene. With the addition of
  Alec Wells on bass and Paul Fisher on drums, Tripp began to mix a blend of
  solid rock music with huge four part harmonies. Tripp played furiously across
  all of the local venues including the Troika Music Festival, the Carrboro
  Music Festival, the Cave, Cat's Cradle, and various drinking establishments
  across the famed Franklin street bar scene.
%p
  I left Tripp in the fall of 2006 to work in Manhattan and began writing and
  recording new songs on my own. After two years as a solo act, I finished my
  first album "Things You Never Had" which was recorded entirely in my home
  studio and mastered by Brad Blackwood (available for free 
  %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/Jordan_Wolff-Things_You_Never_Had.zip" }
    here
  ).  I'm currently playing shows in New York to support the album and I'm
  already hard at work writing the next one.
