.span-15.prepend-1.colborder
  %h2.alt
    Bio
  %p
    Jordan's been playing guitar, singing, and writing songs for over 12 years. He first started playing live in college as the guitar player for the funk band Smokestax his sophomore year. After Smokestax dissolved in 2001, he was a founding member of two bands, Drunken Rusty and Tripp, both based out of Lexington, Virginia. In the spring of 2003, Tripp recorded their first album with ex-Pavement drummer Steve West in a big, old house in the middle of the Shanandoah Valley. The finished album, called '"A Taste," was very well received by the local music community.  Jordan continued to write songs and rehearse with the co-founder Alex Wilkins.
  %p
    When Jordan began law school at UNC Chapel Hill in 2003, Tripp moved with him to North Carolina where they immediately became a force on the local music scene. With the addition of Alec Wells on bass and Paul Fisher on drums, Tripp began to mix a blend of solid rock music with huge four part harmonies. Tripp played furiously across all of the local venues including the Trioka Music Festival, the Carrborro Music Festival, the Cave, Cat's Cradle, and various drinking establishments across the famed Franklin street bar scene (Tripp can be found on myspace
  %a{ :href => "http://www.myspace.com/trippband" }
    here
  %p
    In the summer of 2006, Jordan graduated from UNC Law and travelled north to take a job at a law firm in New York City. While he still works with Tripp through the marvels of the world-wide-web, he also continue to record new songs in my home studio. Jordan always availiable for live performances, collaboration, or any other musical endeavor.
