%h1.fancy Downloads
%p
  All downloads are 320Kbps fixed bitrate MP3s.  Please send an email if you need
  a lossless copy.

%h5.fancy Album Downloads
%p 
  Download a zip file of Jordan's new album
  %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/Jordan_Wolff-Things_You_Never_Had.zip" } here.

%h5.fancy Individual Downloads
%ol
  %li 
    Go Out Go Home -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/01-Go_Out_Go_Home.mp3" } Download Link
  %li
    Lies -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/02-Lies.mp3" } Download Link
  %li
    Break Your Heart -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/03-Break_Your_Heart.mp3" } Download Link
  %li
    Alcohol -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/04-Alcohol.mp3" } Download Link
  %li
    World Inside Me -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/05-World_Inside_Me.mp3" } Download Link
  %li
    Humphrey Bogart -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/06-Humphrey_Bogart.mp3" } Download Link
  %li
    All My Time -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/07-All_My_Time.mp3" } Download Link
  %li
    Policy of Truth -
    %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/08-Policy_Of_Truth.mp3" } Download Link
