%h1.fancy Downloads
%h5.fancy Album Download (Zip File)
%p Download a zip file of Jordan's new album
  %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/Jordan_Wolff-Things_You_Never_Had.zip" } here.

%h5.fancy Individual Downloads
%ol
  %li Go Out Go Home - Download Link
  %li Lies - Link
  %li Break Your Heart - Link
  %li Alcohol
  %li World Inside Me
  %li Humphrey Bogart
  %li All My Time
  %li Policy of Truth
