%h1.fancy Things You Never Had - Now Available!

%h5.fancy Jordan's Stimulus Show
%p
  Just like last time, except with Jordan's Special Stimulus 
  Package.  Jordan's playing Fat Baby on April 9th at 10PM.  
  Fat Baby is loated at Rivington St. and Essex.  Feel Free
  to bring your friends!
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=fat+baby+nyc&amp;fb=1&amp;split=1&amp;gl=us&amp;cid=0,0,8367793621165415841&amp;ei=nfTTSYXzM5SclAf0sJHODA&amp;ll=40.719876,-73.987691&amp;spn=0.006295,0.006295&amp;t=h&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=fat+baby+nyc&amp;fb=1&amp;split=1&amp;gl=us&amp;cid=0,0,8367793621165415841&amp;ei=nfTTSYXzM5SclAf0sJHODA&amp;ll=40.719876,-73.987691&amp;spn=0.006295,0.006295&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
%h5.fancy Tracklist
%ol
  %li Go Out Go Home
  %li Lies
  %li Break Your Heart
  %li Alcohol
  %li World Inside Me
  %li Humphrey Bogart
  %li All My Time
  %li Policy of Truth

%h5.fancy Downloads
%p
  Download a zip file of Jordan's new album
  %a{ :href => "http://wolffrocks.com.s3.amazonaws.com/Jordan_Wolff-Things_You_Never_Had.zip" } here.
  Individual tracks and additional formats can be downloaded from the 
  %a{ :href => "/downloads" } Downloads
  section on the left.
