!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => "stylesheets/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "stylesheets/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
    /[if IE]
      %link{ :href => "stylesheets/ie.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "stylesheets/style.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %title
      wolffrocks.com | Jordan Wolff
  %body
    .container
      #header.span-24
        .span-14
          %img{ :src => "images/wolffrocks.png", :alt => "Wolff Rocks" }
        .span-10.last
          %h1.fancy.bottom{ :style => "text-align:right;" }
            Jordan Wolff's new album:
          %h1.fancy.bottom{ :style => "text-align:right;" }
            Things You Never Had 
        %hr
      #leftSideBar.span-3.colborder
        %h3{ :style=> "text-align:right;" }
          %span.fancy
            Navigation
        %p
          %h6{ :style=> "text-align:right;" }
            %a{ :href => "/" }
              Home
            %br
            %a{ :href => "/bio" }
              Jordan's Bio
            %br
            %a{ :href => "/photos" }
              Photos
            %br
            %a{ :href => "/downloads" }
              Downloads
      .span-13.colborder
        = yield
      #rightSideBar.span-6.last
        %h3
          %span.fancy
            About
        %img{ :src => "images/jordan-sidebar.jpg", :alt => "Jordan in black and white." }
        %p
          Jordan is a world traveler, musician and lawyer.
        %h3
          %span.fancy
            Contact
        %p
          To reach Jordan, send him an email at
          %a{ :href => "mailto:jordan@wolffrocks.com" } jordan@wolffrocks.com
        %h3
          %span.fancy
            Links
        %p 
          Jordan on
          %a{ :href => "http://myspace.com/getyourhandsup" } myspace
          %br
          Jordan on 
          %a{ :href => "http://www.facebook.com/people/Jordan-Wolff/2711007" } Facebook
          %br
          Tripp on
          %a{ :href => "http://myspace.com/trippband" } myspace
      %hr.space
      #footer.span-24
        %p.center
          © 2009
          %a{ :href => "http://sethbc.org" } Seth Chandler
          \and Jordan Wolff.
